<!-- Footer -->
<footer id="footer">
  <div class="content">
    <div class="inner">
      <section class="about">
        <h3>Support Wayfare Labs</h3>
        <p>Wayfare Labs is a 501(c)(3) charitable organization (application pending). We thrive based on your generosity. Has God called you to support Wayfare Labs?</p>
        <ul class="actions">
          <li><a href="https://wayfarelabs.givingfuel.com/general-fund" class="button">Give Now</a></li>
        </ul>
      </section>
      <ul class="icons bulleted">
        <li class="icon fa-map-marker">
          <h3>Address</h3>
          <p>{{ site.title }}<br>
          270 Baker St E<br>
          Suite 200<br>
          Costa Mesa, CA 92626</p>
        </li>
      </ul>
      <ul class="icons bulleted">
        <li class="icon fa-phone">
          <h3>Phone</h3>
          <p>(714) 598-3888</p>
        </li>
        <li class="icon fa-envelope-o">
          <h3>Email</h3>
          <p><a href="mailto:hi@wayfarelabs.org">hi@wayfarelabs.org</a></p>
        </li>
      </ul>
    </div>
  </div>
  <p class="copyright">&copy; 2016 {{ site.title }}. All rights reserved.<br>
  {{!-- <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p> --}}
</footer>

<!-- Scripts -->
<script src="/assets/js/retina.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
