@mixin border-radius($radius) { border-radius: $radius; -webkit-border-radius: $radius; -moz-border-radius: $radius; -o-border-radius: $radius; -ms-border-radius: $radius; }
@mixin custom-border-radius($tl, $tr, $br, $bl) { border-radius: $tl, $tr, $br, $bl; -webkit-border-radius: $tl, $tr, $br, $bl; -moz-border-radius: $tl, $tr, $br, $bl; -o-border-radius: $tl, $tr, $br, $bl; -ms-border-radius: $tl, $tr, $br, $bl; }
@mixin box-shadow($style) { box-shadow: $style; -webkit-box-shadow: $style; -moz-box-shadow: $style; -o-box-shadow: $style; -ms-box-shadow: $style; }
@mixin linear-gradient($top, $bottom) { background-color: $top; background-image: -webkit-linear-gradient($top, $bottom); background-image: -moz-linear-gradient($top, $bottom); background-image: -ms-linear-gradient($top, $bottom); background-image: -o-linear-gradient($top, $bottom); background-image: linear-gradient($top, $bottom); }
@mixin diagonal-gradient($startPos, $colorStart, $colorEnd) { background: $colorStart; background: linear-gradient($startPos, $colorStart 20%, $colorEnd 140%); background: -webkit-linear-gradient($startPos, $colorStart 20%, $colorEnd 140%); background: -moz-linear-gradient($startPos, $colorStart 20%, $colorEnd 140%); background: -o-linear-gradient($startPos, $colorStart 20%, $colorEnd 140%); background: -ms-linear-gradient($startPos, $colorStart 20%, $colorEnd 140%); }
@mixin filter($style) { filter: $style; -webkit-filter: $style; -moz-filter: $style; -o-filter: $style; -ms-filter: $style; }
@mixin transition($transition) { transition: $transition; -webkit-transition: $transition; -moz-transition: $transition; -o-filter: $transition; }
@mixin at2x($path1x, $path2x, $w: auto, $h: auto) {
  background-image: url("#{$path1x}");
  background-position: center center;
  background-repeat: no-repeat;
  @media all and (-webkit-min-device-pixel-ratio : 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
           background-image: url("#{$path2x}");
           background-size: $w $h;
  }
}
