@import "base";

header.page {
  .header-home {
    color: white; height: 500px; background-image: url("/assets/images/header-home.jpg"); background-size: cover;
    margin-bottom: 20px; position: relative;
    a {
      color: white;
      &:hover { color: darken(white, 10%); border-bottom: 1px dotted darken(white, 10%); }
      &.no-underline {
        border-bottom: 0;
        &:hover { border-bottom: 0; }
      }
    }
    h1 { font-size: 44px; margin-top: 110px; text-align: center; color: white; }
    .jump-down {
      width: 48px; height: 48px; position: absolute; left: calc(50% - 24px); bottom: 20px;
      .fa { font-size: 48px; opacity: 0.4; }
      &:hover .fa { opacity: 0.8; }
    }
  }
}
