<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body class="landing">
    {% include header.html %}

    <!-- Banner -->
    <section id="banner">
      <div class="content">
        <div class="inner">
          <header>
            <h2>{{ page.title }}</h2>
            <p>{{ page.slogan }}</p>
          </header>
          <ul class="actions">
            <li><a data-scroll-to="#one" class="button huge">Learn More</a></li>
          </ul>
        </div>
      </div>
    </section>

    <!--
    <section id="main" class="wrapper">
      <div class="inner">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </section>
    -->

    <!-- One -->
    <section id="one" class="wrapper">
      <div class="inner">
        <p>Wayfare Labs offers a unique program for nonprofit and social good startups. We provide space and support to Christ-following founders so that they can make their vision a reality. Launch and grow your organization with us.</p>
        <ul class="features">
          <li>
            <h3 class="style1"><span>Practical Application</span></h3>
            <p>Solidify your business model, raise funds, build an audience, grow your organization, and achieve your vision.</p>
          </li>
          <li>
            <h3 class="style2"><span>Emotional Support</span></h3>
            <p>Journey alongside experienced experts and passionate entrepreneurs who support you throughout the program.</p>
          </li>
          <li>
            <h3 class="style3"><span>Spiritual Guidance</span></h3>
            <p>Learn from other Christ-followers and apply spiritual insights and practices into your daily startup life.</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper cta">
      <div class="inner">
        <header>
          <h2>Partner with us to launch more creation-restoring movements</h2>
          <ul class="actions">
            <li><a href="https://wayfarelabs.givingfuel.com/general-fund" class="button big">Give Now</a></li>
          </ul>
        </header>
        <p>Wayfare Labs is a 501(c)(3) charitable organization<sup>*</sup>. We thrive based on your generosity. Has God called you to support Wayfare Labs? Choose from some of our options or give a custom amount. We appreciate your generosity and stewardship!</p>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper">
      <div class="inner">
        <header class="major">
          <h2>Community matters. Let us introduce you to ours.</h2>
          <p>One of the core components of our program is immersing founders in Christ-centered community. Here are some of the ways you’ll engage and interact with our community.</p>
        </header>
        <div class="posts">
          <section class="post">
            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <div class="content">
              <h3>Founder Dinners</h3>
              <p>Every Tuesday night, Labbers have an intimate dinner with a Christ-following founder. Here are some of the guests we've hosted: Larry Andreini, founder of RIDEMAKERZ; Christine Nolfe, founder of Mika; Jessie Simonson and Alli Talley, co-founders of 31 Bits; Kohl Crecelius, CEO and co-founder of Krochet Kids International; and many more...</p>
              {{!-- <a href="#" class="button">More</a> --}}
            </div>
          </section>
          <section class="post">
            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
            <div class="content">
              <h3>Workshops</h3>
              <p>Taught by startup founders and experts in their respective fields, our workshops cover key topics that startup founders need to address, like:
              Mission and Vision Formation; Customer Development; Fundraising; Communication; Entity Formation; and more...</p>
              {{!-- <a href="#" class="button">More</a> --}}
            </div>
          </section>
          <section class="post">
            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
            <div class="content">
              <h3>Advising</h3>
              <p>Each startup receives an advisor who consults with the organization throughout the course of the program. If you’re struggling with a specific topic, these advisors will give you the encouragement and coaching you need to push through it.</p>
              {{!-- <a href="#" class="button">More</a> --}}
            </div>
          </section>
          <section class="post">
            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
            <div class="content">
              <h3>Coaching</h3>
              <p>Many of the experts in our network of advisors offer unique coaching sessions specifically designed for program participants.</p>
              {{!-- <a href="#" class="button">More</a> --}}
            </div>
          </section>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
